*.js~
node_modules/**
test/node_modules/**
lib/**
node_modules/**/*.node
node_modules/**/*.o
node_modules/**/*.a
node_modules/**/*.mk
node_modules/**/*.gypi
node_modules/**/*.target
node_modules/**/.deps/
node_modules/**/build/Makefile
node_modules/**/**/build/Makefile
bower_components/**
*.swp
*.swo
*.html~
*.js~
.*~
src/js/initialisation/requirejs-bootstrap.js
src/js/initialisation/requirejs-bootstrap-test.js
src/files.json
src/**/*map
npm-debug.log
tests/units.html
src/js/example/result.js
dist/**/*
.sass-cache/
tests/**/*
karma_html/**/*
tscommand-*.tmp.txt
.tscache
src/**/.*.ts
typings/**/*
*.dist/*
backend/example/*
backend/core-app/bin/*
backend/core-app/target/*
backend/core-app/logs/*
backend/core-app/public/*
backend/core-app/libexec/*
src/coverage/*
coverage/*
report/*
src/domains.index.ts
*.log
target/*
.idea
nohup.out
server.log
project/project/*
project/target/*
backend/src/main/resources/*.conf
*.conf
