<div class="json-editor json-input-container" >
	<!-- jquery appends the data here -->
	<div id="json-display">
		<div class="editor-line-numbers">
		</div>
		<div class="editor-table" ng-click="$ctrl.setPosition($event)">
			<textarea id="json-input"
				ng-model="json" ng-style="$ctrl.carelPos"
				ng-keypress="$ctrl.insertCharacter($event)"
				ng-keydown="$ctrl.handleKeyDown($event)"
				ng-paste="$ctrl.pasteText($event)"></textarea>
			<b id="cursor" ng-hide="$ctrl.hideCursor" ng-style="$ctrl.editor.carelPos"></b>
			<div class="editor-row" 
				tabindex="0"
				ng-repeat="row in $ctrl.editor.statusMatrix"
    				ng-if="row.id" id="{{row.id}}" ng-bind="row.string"
				ng-keydown="$ctrl.handleExistingText($event)"
				ng-dblclick="$ctrl.selectWord($event)">
			</div>
		</div>
	</div>
</div>
