@import "../../css/variables";
.json-editor {
	&.json-input-container {
		overflow: hidden;
		height: 100%;
		font-size: 13px;
		#json-input {
			resize: none;
			width: 8px;
			//text-indent: -1em;
			height: $json-editor-row-height;
			position: absolute;
			overflow: hidden;
			outline: none;
			border: 0;
			padding: 0 1px;
			margin: 0 -1px;
			white-space: pre;
			word-wrap: normal;
			background-color: transparent;
			//background-color: wheat;
		}
		#json-display {
			min-height: 304px;
			.editor-row {
				height: $json-editor-row-height;
			}
		}

	}
	position: relative;
}
