@import "compass/css3";

@media only screen and (min-width: 990px) {
	.animate-text {
		z-index: 1;
		position: relative;
		text-align: center;
		font-weight: bold;
		font-size: 36px;
		color: wheat;
		letter-spacing: 6px;

		span {
			//text-shadow: -1px 0 grey, 0 1px grey, 1px 0 grey, 0 -1px grey;
			text-shadow: rgb(247, 247, 247) 4px 4px 4px;
			-webkit-mask-image: -webkit-linear-gradient(left top, rgba(0,0,0,1), rgba(0,0,0,0.5));
			-webkit-font-smoothing: antialiased;
			padding-left: 3px;
			display: inline-block;
			&.animated-letter {
				@include animation(flip-flop 0.6s ease-out);
			
				@include keyframes(flip-flop) {
					0% {
						@include transform(rotateX(180deg) translateY(-200%));
						text-shadow: rgb(0, 0, 0) 0px 0px 0px;
					}
					
					5% {
						@include transform(rotateX(150deg) translateY(-160%));
						text-shadow: rgb(40, 40, 40) 1px 1px 1px;
					}
					
					10% {
						@include transform(rotateX(120deg)  translateY(-120%));
						text-shadow: rgb(80, 80, 80) 1.8px 1.8px 1.8px;
					}
					
					15% {
						@include transform(rotateX(90deg)  translateY(-80%));
						text-shadow: rgb(120, 120, 120) 2.6px 2.6px 2.6px;
					}
					
					20% {
						@include transform(rotateX(60deg)  translateY(-40%));
						text-shadow: rgb(160, 160, 160) 3.4px 3.4px 3.4px;
					}
					
					25% {
						@include transform(rotateX(30deg));
						text-shadow: rgb(160, 160, 160) 4px 4px 4px;
					}
				}

				@include keyframes(zoom-in) {
					0% {
						@include transform(scale(1.2));
					}
					
					5% {
						@include transform(scale(1.4));
					}
					
					10% {
						@include transform(scale(1.6));
					}
					
					15% {
						@include transform(scale(1.8));
					}
					
					20% {
						@include transform(scale(2));
					}
				}
			
			}
		}
	}
}
