<div class="pick-colors">
	{{loadPicLabel}}
	<button type="file" ngf-select="uploadPicture($files)" accept="image/*">
		Upload picture
	</button>
	<span class="result-value" ng-if="pixelValue">
		Selected value: r: {{pixelValue.r}} g: {{pixelValue.g}} b: {{pixelValue.b}} opacity: {{pixelValue.opacity}}
		Hex value: {{pixelHexValue}}
		<input id="result-color" type="color" disabled/>
	</span>
	<canvas id="uploaded-picture" tabindex="1" ng-click="clickCanvas($event)" ng-keypress="zoomCanvas($event)"></canvas>
</div>
