<div id="content">
	<!-- <p>My name is Michael Zucchetta and this is my personal website. I did this to load some tools I often search while working/programming and wanted to add them just in one place so they could be handy.</p>
	<p>The list of functionalities is here under:</p>
	<ul>
		<li></li>
		<li></li>
	</ul>
	-->
	<h1>Website under construction</h1>
	<div>I'm Michael Zucchetta, a full stack Java software engineer located in Dublin. If you need to contact me, this is my <a target="_blank" onclick="trackOutboundLink('https://www.linkedin.com/in/michaelzucchetta'); return false;" href="https://www.linkedin.com/in/michaelzucchetta" style="color: #00ffff">LinkedIn</a></div>
</div>
