// @import "compass/css3";
$black: black;
$white: white;
$dark-gray: #212121;
$dark-gray-border: #303030;
$blue-bar-active: #285577;
$blue-bar-active-border: #457294;
$terminal-green: #008F10;
$black-status: #030100;
$terminal-bar-red: #E31D13;
$terminal-bar-green: #1CBA22;
$terminal-bar-height: 18px;

$bottom-bar-height: 20px;
$title-bar-height: 100px;
$border-width: 3px;

$content-min-height: 200px;
$terminal-font: monospace;
$font-size: 13px;
html {
	height: 100%;
	/*overflow hidden prevents scroll on non scrollable pages in iOS*/
	overflow: hidden;
}

body {
	margin: 0;
	height: 100%;
	font-family: $terminal-font;
	&.hidden-body {
		visibility: hidden;
	}
}

.website-container {
	height: 100%;
}

.website-content {
	width: 100%;
	height: calc(100% - #{$bottom-bar-height} - #{$title-bar-height} - #{$border-width * 4});
	min-height: $content-min-height;
	#view-container {
		margin-left: 10px;
		min-height: calc(#{$content-min-height} - #{$terminal-bar-height});
		height: calc(100% - #{$terminal-bar-height});
		overflow: auto;
	}
}


.noselect {
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none;   /* Chrome/Safari/Opera */
	-khtml-user-select: none;    /* Konqueror */
	-moz-user-select: none;      /* Firefox */
	-ms-user-select: none;       /* Internet Explorer/Edge */
	user-select: none;           /* Non-prefixed version, currently */
}

.terminal {
	background-color: $black;
	color: $white;
	.terminal-bar {
		height: $terminal-bar-height;
		font-family: $terminal-font;
		cursor: default;
		span {
			margin-left: 5px;
		}
	}
	&.unactive {
		border: $border-width solid $dark-gray-border;
		.terminal-bar {
			background-color: $dark-gray;
		}
	}

	&.active {
		border: $border-width solid $blue-bar-active-border;
		.terminal-bar {
			background-color: $blue-bar-active;
		}
	}
}

.title {
	width: 100%;
	height: $title-bar-height;
}

pre.ascii-text {
	background-color: transparent;
	border: none;
	font-size: 4.5px;
	display: inline-flex;
	color: $terminal-green;
	font-weight: bold;
	&.extra {
		font-size: 10px;
		font-family: 'Ubuntu Mono', Menlo, Monaco, Consolas, 'Courier New', monospace;
		margin: auto auto auto 20px;
	}
}

.notes {
	height: $bottom-bar-height;
	text-align: right;
	color: $white;
	font-family: $terminal-font;
	background-color: $black-status;
	word-spacing: -5px;
	cursor: default;

	.red {
		color: $terminal-bar-red;
	}

	.green {
		color: $terminal-bar-green;
	}

	span:last-child {
		margin-right: 2px;
	}
}

.animation-initial {
	position: absolute;
	width: 100%;
	height: 100%;
	background: black;
	z-index: -1;	

	.website-content {
		position: relative;
		height: calc(100% - #{$bottom-bar-height} - #{$border-width * 2});
		width: 100%;
		animation: fadein 0.8s forwards paused;
	}

	.terminal-line {
		position: relative;
		display: inline-flex;
    .terminal-text-container {
      display: inline-block;
      font-size: 0;
      width: 91px;
      margin-left: 5px;
      overflow-x: hidden;
      .terminal-text {
        overflow-x: hidden;
        /* position: absolute; */
        font-size: $font-size;
        display: inline-block;
        top: 0;
		    white-space: nowrap;
        animation: typing 1.5s steps(10, end) forwards paused;
      }
		}
	}
	.line1 .terminal-text {
	}

  .white-cursor {
    display: inline-block;
    background-color: $white;
    width: 5px;
    margin-left: 2px;
    height: $font-size;
  }
}

.terminal-content {
	position: absolute;
	bottom: 5px;
	left: 3px;
}

@keyframes fadein {
	50% { visibility: hidden; }
	100%   { visibility: visible; }
}

@keyframes typing {
	from {width: 0%;}
	to { width: 85%;} 
} 
