// @import "compass/css3";
$black: black;
$white: white;
$dark-gray: #212121;
$dark-gray-border: #303030;
$blue-bar-active: #285577;
$blue-bar-active-border: #457294;
$terminal-green: #008F10;
$black-status: #030100;
$terminal-bar-red: #E31D13;
$terminal-bar-green: #1CBA22;
html {
        height: 100%;
        /*overflow hidden prevents scroll on non scrollable pages in iOS*/
        overflow: hidden;
}

body {
        margin: 0;
        height: 100%;
}

.website-container {

}

.website-content {
	width: 80%;
	height: 82.8vh;
}

.terminal {
	background-color: $black;
	color: $white;
	&.unactive {
		border: 3px solid $dark-gray-border;
		.terminal-bar {
			background-color: $dark-gray;
		}
	}

	&.active {
		border: 3px solid $blue-bar-active-border;
		.terminal-bar {
			background-color: $blue-bar-active;
		}
	}
}

.title {
	width: 80%;
}

pre.ascii-text {
	background-color: transparent;
	border: none;
	font-size: 4.5px;
	display: inline-flex;
	color: $terminal-green;
	font-weight: bold;
}

.notes {
	height: 2.8vh;
	text-align: right;
	color: $white;
	background-color: $black-status;
	.second {
		color: $terminal-bar-red;
	}
	
	.third {
		color: $terminal-bar-green;
		margin-right: 5px;
	}
}
