// @import "compass/css3";
$black: black;
$white: white;
$dark-gray: #222222;
$dark-gray-border: #303030;
$blue-bar-active: #285577;
$blue-bar-active-border: #457294;

html {
        height: 100%;
        /*overflow hidden prevents scroll on non scrollable pages in iOS*/
        overflow: hidden;
}

body {
        margin: 0;
        height: 100%;
}

.website-container {

}

.website-content {
	width: 70%;
	height: 80%;
	background-color: $black;
	color: $white;
	&.unactive {
		border: 3px solid $dark-gray-border;
		.terminal-bar {
			background-color: $dark-gray;
		}
	}
	&.active {
		border: 3px solid $blue-bar-active-border;
		.terminal-bar {
			background-color: $blue-bar-active;
		}
	}
}

pre.ascii-text {
	background-color: transparent;
	border: none;
	font-size: 5px;
	display: inline-flex;
}
