<!doctype html>
<html lang="en" ng-app="michaelzucchetta">
	<head>
		<title>Michael Zucchetta's Website</title>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<style type="text/css">
			.hidden {
				visibility: hidden;
			}
		</style>
		<link rel="stylesheet" href="./css/terminal.css"></link>
		<script type="text/javascript">
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

			ga('create', 'UA-68157130-1', 'auto');
			ga('send', 'pageview');
			/**
			* Function that tracks a click on an outbound link in Analytics.
			* This function takes a valid URL string as an argument, and uses that URL string
			* as the event label. Setting the transport method to 'beacon' lets the hit be sent
			* using 'navigator.sendBeacon' in browser that support it.
			*/
			var trackOutboundLink = function(url) {
			   ga('send', 'event', 'outbound', 'click', url, {
			     'transport': 'beacon',
			     'hitCallback': function(){document.location = url;}
			   });
			}
		</script>
	</head>
	<body ng-controller="GlobalCtrl as $ctrl" class="hidden">
		<div class="container animation-initial">
			<div class="website-content terminal active" style="visibility: hidden">
				<div class="terminal-bar noselect">
					<span>
						user@michaelzucchetta.com:/home/user/
					</span>
				</div>
				<div class="terminal-content">
					<div class="terminal-line line1">
						<span class="terminal-line">
							[user@michaelzucchetta.com ~] $: 
							<span class="terminal-text-container">
								<span class="terminal-text">cd scripts</span>
								<span class="white-cursor"> </span>
							</span>
						</span>
					</div>
					<div class="terminal-line line2" style="display: none">
						<span class="terminal-line">
							[user@michaelzucchetta.com scripts] $: 
							<span class="terminal-text-container">
								<span class="terminal-text">ls -ltr</span>
								<span class="white-cursor"> </span>
							</span>
						</span>
					</div>
					<div class="terminal-line line3" style="display: none">
						<div>total 12</div>
						<div class="table">
						<div class="row">
						<div>dr--r--r--</div><div>6</div><div>michaelzucchetta</div><div>root</div><div>4096</div><div>Jan 1 1970</div><div><span class="directory">conquer-the-world</span></div>
						</div>
						<div class="row">
						<div>drwxrwxrwx</div><div>23</div><div>michaelzucchetta</div><div>root</div><div>4096</div><div>June 30 04:23</div><div><span class="directory-full">format-laptop</span></div>
						</div>
						<div class="row">
						<div>dr--r--r--</div><div>102</div><div>michaelzucchetta</div><div>root</div><div>4096</div><div>Feb 5 2014</div><div><span class="directory">lib</span>
						</div>
						</div>
						<div class="row">
						<div>-rwxr-xr-x</div><div>1</div><div>michaelzucchetta</div><div>michaelzucchetta</div><div>373</div><div>June 27 14:31</div><div><span class="executable">boot-michaelzucchetta.sh</span></div>
						</div>
						</div>
						<span class="terminal-line">
							[user@michaelzucchetta.com scripts] $: 
							<span class="terminal-text-container">
								<span class="terminal-text">sh boot-michaelzucchetta.sh</span>
								<span class="white-cursor"> </span>
							</span>
						</span>
					</div>
					<div class="terminal-line line4" style="display: none">
						<span class="terminal-line">
							[user@michaelzucchetta.com scripts] $: 
							<span class="terminal-text-container">
								<span class="terminal-text">clear</span>
								<span class="white-cursor"> </span>
							</span>
						</span>
					</div>
					<div class="terminal-line line5" style="display: none">
						<span class="terminal-line">
							[user@michaelzucchetta.com scripts] $: 
							<span class="terminal-text-container">
								<span class="terminal-text">sh init-main.sh</span>
								<span class="white-cursor"> </span>
							</span>
						</span>
					</div>
				</div>
			</div>
			<div class="website-container">
				<div class="menu-container hidden terminal" ng-class="{'menu-visible': $ctrl.showWholeMenu}" focus-class active="active" unactive="unactive">
					<div class="terminal-bar noselect">
						<span>
							user@michaelzucchetta.com:/home/user/
						</span>
					</div>
					<span class="icon-container" dropdown-menu="$ctrl.menu" show-whole-menu="$ctrl.showWholeMenu">
						<span class="icon"></span>
					</span>
				</div>
				<div class="title terminal noselect hidden" focus-class active="active" unactive="unactive">
					<div class="terminal-bar noselect">
						<span>
							user@michaelzucchetta.com:/home/user/
						</span>
					</div>
					<div class="open-menu-container" ng-if="!$ctrl.showWholeMenu">
						<a class="mobile-menu" href="#" ng-click="$ctrl.showHideWholeMenu()">
						  <span class="open">
						    <span></span>
						    <span></span>
						    <span></span>
						  </span>
						</a>
					</div>
					<pre class="ascii-text" style="display: none">
					<span ng-include="'directives/asciify/M.html'"></span>
					<span ng-include="'directives/asciify/I.html'"></span>
					<span ng-include="'directives/asciify/C.html'"></span>
					<span ng-include="'directives/asciify/H.html'"></span>
					<span ng-include="'directives/asciify/A.html'"></span>
					<span ng-include="'directives/asciify/E.html'"></span>
					<span ng-include="'directives/asciify/L.html'"></span>
					<span ng-include="'directives/asciify/Z.html'"></span>
					<span ng-include="'directives/asciify/U.html'"></span>
					<span ng-include="'directives/asciify/C.html'"></span>
					<span ng-include="'directives/asciify/C.html'"></span>
					<span ng-include="'directives/asciify/H.html'"></span>
					<span ng-include="'directives/asciify/E.html'"></span>
					<span ng-include="'directives/asciify/T.html'"></span>
					<span ng-include="'directives/asciify/T.html'"></span>
					<span ng-include="'directives/asciify/A.html'"></span>
					<span ng-include="'directives/asciify/B.html'"></span>
					</pre>
					<pre class="ascii-text extra" ng-class="{'extra-pushed': !$ctrl.showWholeMenu}">
						<div class="ascii-name">
							<span class="first-letter" ng-include="'directives/asciify/font1/M.html'"></span>
							<span class="not-first-letter" ng-include="'directives/asciify/font1/I.html'"></span>
							<span class="not-first-letter" ng-include="'directives/asciify/font1/C.html'"></span>
							<span class="not-first-letter" ng-include="'directives/asciify/font1/H.html'"></span>
							<span class="not-first-letter" ng-include="'directives/asciify/font1/A.html'"></span>
							<span class="not-first-letter" ng-include="'directives/asciify/font1/E.html'"></span>
							<span class="not-first-letter" ng-include="'directives/asciify/font1/L.html'"></span>
						</div>
						<span class="ascii-space" ng-include="'directives/asciify/font1/_.html'"></span>
						<div class="ascii-surname">
							<span class="first-letter" ng-include="'directives/asciify/font1/Z.html'"></span>
							<span class="not-first-letter" ng-include="'directives/asciify/font1/U.html'"></span>
							<span class="not-first-letter" ng-include="'directives/asciify/font1/C.html'"></span>
							<span class="not-first-letter" ng-include="'directives/asciify/font1/C.html'"></span>
							<span class="not-first-letter" ng-include="'directives/asciify/font1/H.html'"></span>
							<span class="not-first-letter" ng-include="'directives/asciify/font1/E.html'"></span>
							<span class="not-first-letter" ng-include="'directives/asciify/font1/T.html'"></span>
							<span class="not-first-letter" ng-include="'directives/asciify/font1/T.html'"></span>
							<span class="not-first-letter" ng-include="'directives/asciify/font1/A.html'"></span>
						</div>
					</pre>
				</div>
				<div class="website-title hidden" animate-text="michaelzucchetta.com">
				</div>
				<div class="website-content terminal hidden" focus-class active="active" unactive="unactive">
					<div class="terminal-bar noselect">
						<span>
							user@michaelzucchetta.com:/home/user/
						</span>
					</div>
					<div id="view-container" ui-view></div>
				</div>
				<div class="notes noselect command-init website-footer">
					<span>213412.8 GiB</span> | 
					<span class="green">DHCP: yes</span> | 
					<span class="red">VPN: no</span> | 
					<span class="green">W: yes</span> | 
					<span class="green" ng-if="$ctrl.regionIP">W: {{ ::$ctrl.userIP }} (your region: {{ ::$ctrl.regionIP }})</span>
					<span class="green" ng-if="!$ctrl.regionIP">W: {{ ::$ctrl.userIP }} (your country: {{ ::$ctrl.countryIP }})</span> | 
					<span class="white">Michael Zucchetta</span> |
					<span class="red" >michael.zucchetta@gmail.com</span> | 
					<span class="green">Dublin, Ireland</span> | 
					<span ng-bind="$ctrl.dateString"></span> 
					<span class="links">
						<span ng-repeat="link in myLinks" ng-class="{{::link.class}}">
							<a target="_blank" ng-href="{{::link.link}}" ng-bind="link.text"></a>
						</span>
					</span>
				</div>
			</div>
			<script type="text/javascript" src="vendor.js"></script>
			<script ng-if="$ctrl.isAuthenticated" type="text/javascript" src="vendor_admin.js"></script>
			<script type="text/javascript" src="app.js"></script>
			<script ng-if="$ctrl.isAuthenticated" type="text/javascript" src="app_admin.js"></script>
		</div>
	</body>
</html>
